<h1>ソフトウェア開発演習　第1回課題</h1>


<% @bookmarks.each do |book| %>
    <p>
    <%= link_to book.title, book.url %>
    <%= link_to '削除', "/bookmarks/#{book.id}", data: {turbo_method: :delete} %>
    <%= link_to '表示', "/bookmarks/#{book.id}" %>
    <%= link_to '編集', "/bookmarks/#{book.id}/edit" %>
    </p>
<% end %>
<p><%= link_to '新規追加', '/bookmarks/new' %></p>